[Desktop Entry]
Type=Application
Version=1.0
Name=Mica
Comment=Fast native layered image editor
Exec=mica-gui %F
Icon=applications-graphics
Terminal=false
Categories=Graphics;RasterGraphics;Photography;
StartupNotify=true
